<div class="ui top attached stackable tabular menu">
  <a class="active item" data-tab="queue">Queue</a>
  <a class="item" data-tab="message">Message</a>
  <a class="item" data-tab="log">Logs</a>
  <a class="item" data-tab="client">Clients <span class="ui tiny label">0</span></a>
  <% if (term.terminals.length) { %><a class="item" data-tab="terminal">Terminal <span class="ui tiny label"><%= term.terminals.length %></span></a><% } %>
  <% if (term.plugins.length) { %><a class="item" data-tab="plugin">Plugins <span class="ui tiny label"><%= term.plugins.length %></span></a><% } %>
</div>
<div class="ui bottom attached active tab segment" data-tab="queue">
  <%- include('queue') %>
</div>
<div class="ui bottom attached tab segment" data-tab="message">
  <%- include('message') %>
</div>
<div class="ui bottom attached tab segment" data-tab="log">
  <%- include('log') %>
</div>
<div class="ui bottom attached tab segment" data-tab="client">
  <%- include('client') %>
</div>
<% if (term.terminals.length) { %>
<%- include('termhandler') %>
<div class="ui bottom attached tab segment" data-tab="terminal">
  <%- include('term') %>
</div>
<% } %>
<% if (term.plugins.length) { %>
<%- include('pluginhandler') %>
<div class="ui bottom attached tab segment" data-tab="plugin">
  <%- include('plugin') %>
</div>
<% } %>
<% script.create('JQuery')
  .useDependencies(['SocketIO', 'SemanticUI/Dialog/Wait', 'SemanticUI/Dialog/Input'])
  .add(`
// socket handler
$.uiCon = {
    connected: false,
    keepalive: true,
    url: '${sockaddress}',
    init: function() {
        var self = this;
        self.socket = io.connect(self.url, { reconnect: self.keepalive });
        self.socket.on('connect', function() {
            self.connected = true;
            console.log('Socket connected');
        });
        self.socket.on('disconnect', function() {
            self.connected = false;
            console.log('Socket disconnected');
        });
        self.socket.on('new-terminal', function() {
            window.location.reload();
        });
        self.socket.on('activity', function(data) {
            $.log.add(data);
            $.gwqueue.load();
        });
        self.socket.on('client', function(data) {
            $.client.load();
        });
        self.socket.on('new-activity', function(type) {
            $.gwqueue.load();
            if (type == ${term.Storage.ACTIVITY_SMS} || type == ${term.Storage.ACTIVITY_INBOX}) {
                $.message.load();
            }
        });
        self.socket.on('queue-processed', function(data) {
            $.gwqueue.load();
        });
        self.socket.on('ussd', function(data) {
            $.term.receiveUssd(data);
        });
    }
}
// initialize
$('.menu .item').tab();
$('.ui.checkbox').checkbox();
$('select.dropdown').dropdown();
$.gwqueue.load();
$.message.load();
$.log.load();
$.client.load();
$.uiCon.init();
`); %>
