<div class="ui stackable grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
      <%_ Object.keys(term.groups).forEach((group) => { -%>
        <div class="item header"><%= group ? group : 'ALL' %></div>
        <%_ term.groups[group].forEach((terminal) => { -%>
        <a href="#" class="item" data-term="<%= terminal.name %>" data-operator="<%= terminal.info.network.operator %>"><i class="desktop icon"></i> <%= terminal.name %> <div class="ui tiny label"><%= terminal.info.network.operator %></div></a>
        <%_ }); -%>
        <%_ }); -%>
      </div>
    </div>
    <div class="twelve wide column">
      <form class="ui form term-config">
        <div class="ui icon message">
          <i class="desktop icon"></i>
          <div class="content">
            <div class="header">Terminal configuration</div>
            <p>Here you can configure the terminal options. Once complete, clik <em>Apply</em> to allow the changes to take effects.</p>
          </div>
        </div>
        <h4 class="ui dividing header">Voice call</h4>
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[rejectCall]" class="hidden">
              <label>Reject incoming call</label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[allowCall]" class="hidden">
              <label>Allow outgoing call</label>
            </div>
          </div>
        </div>
        <h4 class="ui dividing header">Message</h4>
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[sendMessage]" class="hidden">
              <label>Send message<br/>
                <small>Uncheck this option to prevent outgoing message to be sent</small>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[receiveMessage]" class="hidden">
              <label>Receive message<br/>
                <small>Uncheck this option to ignore received message processing</small>
              </label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[deleteMessage]" class="hidden">
              <label>Delete message<br/>
                <small>Allow message deleted from its storage once its read</small>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[replyBlockedMessage]" class="hidden">
              <label>Reply blocked message<br/>
                <small>When receiving message is disabled, reply incoming message with blocked message</small>
              </label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[deliveryReport]" class="hidden">
              <label>Delivery report<br/>
                <small>Request for delivery report for sent message</small>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[requestReply]" class="hidden">
              <label>Request message reply<br/>
                <small>Request for reply for sent message</small>
              </label>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="term[emptyWhenFull]" class="hidden">
              <label>Empty message storage when full</label>
            </div>
          </div>
        </div>
        <h4 class="ui dividing header">Group and priority</h4>
        <div class="two fields">
          <div class="field">
            <label>Group</label>
            <input type="text" name="term[group]" value="" placeholder="Group">
          </div>
          <div class="field">
            <label>Priority</label>
            <input type="text" name="term[priority]" value="0" placeholder="Priority">
          </div>
        </div>
        <h4 class="ui dividing header">Operators</h4>
        <div class="field">
          <label>Select operators</label>
          <select name="term[operators][]" class="ui dropdown" multiple>
          <%_ Object.keys(term.operators).forEach((operator) => { -%>
            <option value="<%= operator %>"><%= operator %></option>
          <%_ }); -%>
          </select>
          <small>Select which operators number allowed by this terminal, leave empty to allow all operators</small>
        </div>
        <button class="ui primary button" type="submit">Apply</button>
        <button class="ui right floated labeled icon button btn-ussd"><i class="phone volume icon"></i>USSD</button>
        <button class="ui right floated labeled icon button btn-message"><i class="envelope icon"></i>Message</button>
        <button class="ui right floated labeled icon button btn-dial"><i class="phone icon"></i>Dial</button>
      </form>
    </div>
  </div>
</div>
<% script.create('JQuery')
  .add(`
$.term.init();
$('a[data-term]').on('click', function(e) {
    e.preventDefault();
    var a = $(this);
    a.siblings('a').removeClass('active');
    a.addClass('active');
    $.term.handle(a.attr('data-term'), a.attr('data-operator'));
}).filter(':first').click();
`); %>