<div class="ui form">
  <h4 class="ui dividing header">Prepaid</h4>
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>#</th>
        <th>IMSI</th>
        <th>Operator</th>
        <th>Balance</th>
        <th>Active</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <%_ if(items.length) { -%>
    <tbody>
    <%_ items.forEach((item) => { -%>
      <tr data-imsi="<%= item.name %>">
        <td><%= item.nr %></td>
        <td><%= item.name %></td>
        <td><%= item.operator %></td>
        <td class="right aligned"><%= item.balance ? item.balance : 'n/a' %></td>
        <td><%= item.active ? item.active : 'n/a' %></td>
        <td><%= item.time ? item.time : 'n/a' %></td>
        <td><button class="ui tiny icon button"><i class="sync alternate icon"></i></button></td>
      </tr>
      <%_ }) -%>
    </tbody>
    <%_ } -%>
  </table>
</div>
<% script.create('JQuery')
  .useDependencies(['JQuery/Notification'])
  .add(`
$('tr[data-imsi] button').on('click', function(e) {
    e.preventDefault();
    $(this).prop('disabled', true);
    var row = $(this).parents('tr');
    var imsi = row.attr('data-imsi');
    if (imsi) {
        $.post('/p/prepaid?cmd=check', {imsi: imsi})
            .then(function(json) {
                if (json.success) {
                    $.ntfy.notify('Prepaid update successfully queued.', 'success');
                } else {
                    $.ntfy.notify('Prepaid update not queued.', 'error');
                }
            })
        ;
    }
});
if ($.uiCon && $.uiCon.socket) {
    $.uiCon.socket.on('prepaid', function(imsi, info) {
        var row = $('tr[data-imsi="'+ imsi + '"]');
        if (row.length) {
            row.find(':nth-child(4)').text(info.balance ? info.balance : 'n/a');
            row.find(':nth-child(5)').text(info.active ? info.active : 'n/a');
            row.find(':nth-child(6)').text(info.time ? info.time : 'n/a');
        }
    });
}
`) %>
